<ng-template #deleteModel let-modal class="tests">
    <app-warning-modal (formSubmit)="dtype=='draw' ? deleteDraw() : dtype=='retention' ? deleteRetention() : modal.dismiss('Cross click'); "
        (modalClose)="modal.dismiss('Cross click')" [modalTitle]="'Confirm Delete'"
        [modalQuestion]="'Are you sure to delete '+ dtype +' #'+ drawId+ '?'" [modalArray1]="[]"></app-warning-modal>
</ng-template>

<div class="w-100 float-left mb-3">
    <div class="col-sm-12 col-md-12 mt-2">
        <h2 class="title-text">{{ currentlySelectedProjectName }}: Payment Applications</h2>
        <hr>
        <div class="col-sm-12">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-2">
                        <select class="select" (change)="filterStatus($event)">
                            <option value="6">All</option>
                            <option value="1">Draft</option>
                            <option value="2">Posted</option>
                            <option value="3">Open</option>
                            <option value="4">Paid</option>
                            <option value="5">Partially Paid</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="button" (click)="createDraws()" value="Create Draws">
                    </div>
                    <div class="col-sm-3">
                        <input type="button" (click)="createRetentions()" value="Create Retention Draws">
                    </div>
                    <div class="col-sm-3">
                        <input type="button" value="Print List View">
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix mt-3">
            <div class="float-left mr-2">
                Show
                <select class="wauto" [className]="page" [(ngModel)]="page">
                    <option *ngFor="let entryValue of entrieValues">
                        {{entryValue}}
                    </option>
                </select>
                Entries
            </div>
            <div class="float-right ">
                Search
                <input class="wauto" (keyup)="searchRFI($event)" type="search">
            </div>
        </div>
        <div class="table-responsive mt-5">
            <table datatable class="table table-sm table-bordered">
                <thead>
                    <tr class="text-center text-small">
                        <th *ngFor="let heads of headings">{{heads}}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container
                        *ngFor="let draw of drawList | paginate: { currentPage: p, itemsPerPage: page};  let i=index">
                        <tr *ngIf="draw.status=='Draft'" class="text-center text-small">
                            <td (click)="editDrawItems(draw)">{{draw.application_number}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.through_date}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.status}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.totalOriginalScheduledValue | currency}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.changeOrderDrawItems | currency}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.totalScheduledValue | currency}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.previousDraw | currency}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.total_completion_percentage | number}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.total_current_app | currency}}</td>
                            <td (click)="editDrawItems(draw)">{{(draw.total_current_retainer_value ?
                                draw.total_current_retainer_value : 0) |
                                currency}}
                            </td>
                            <td (click)="editDrawItems(draw)">{{(draw.totalPreviousRetainerValue ?
                                draw.totalPreviousRetainerValue : 0) | currency}}
                            </td>
                            <td>
                                <a href="javascript:void()" class="cross-cancel">
                                    <span (click)="deleteDialogBox(deleteModel,draw,'draw')" *ngIf="i==0"
                                        class="px-2 entypo-cancel-circled"></span>
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-container *ngFor="let retention of retentionList">
                        <tr *ngIf="retention.status == 'Draft'" class="text-center text-small bg-light">
                            <td (click)="editRetentionItems(retention)">Ret {{retention.application_number}}</td>
                            <td (click)="editRetentionItems(retention)">{{retention.through_date}}</td>
                            <td (click)="editRetentionItems(retention)">{{retention.status}}</td>
                            <td (click)="editRetentionItems(retention)">{{retention.totalOriginalScheduledValue |
                                currency}}</td>
                            <td (click)="editRetentionItems(retention)">{{retention.changeOrderDrawItems | currency}}
                            </td>
                            <td (click)="editRetentionItems(retention)">{{retention.totalScheduledValue | currency}}
                            </td>
                            <td (click)="editRetentionItems(retention)">{{(retention.retentionBilledTodate ?
                                retention.retentionBilledTodate : 0) | currency}}
                            </td>
                            <td>&nbsp;</td>
                            <td (click)="editRetentionItems(retention)">{{retention.total_current_retainer_value |
                                currency}}</td>
                            <td>&nbsp;</td>
                            <td>{{(retention.retTotalRetFormatted ? retention.retTotalRetFormatted : 0) |
                                currency}}</td>
                            <td>
                                <a href="javascript:void()" class="cross-cancel">
                                    <span (click)="deleteDialogBox(deleteModel,retention,'retention')"
                                        class="px-2 entypo-cancel-circled"></span>
                                </a>
                            </td>
                        </tr>
                        <tr (click)="editRetentionItems(retention)" *ngIf="retention.status != 'Draft'"
                            class="text-center text-small bg-light">
                            <td>Ret {{retention.application_number}}</td>
                            <td>{{retention.through_date}}</td>
                            <td>{{retention.status}}</td>
                            <td>{{retention.totalOriginalScheduledValue | currency}}</td>
                            <td>{{retention.changeOrderDrawItems | currency}}</td>
                            <td>{{retention.totalScheduledValue | currency}}</td>
                            <td>{{(retention.retentionBilledTodate ? retention.retentionBilledTodate : 0) | currency}}
                            </td>
                            <td>&nbsp;</td>
                            <td>{{retention.total_current_retainer_value | currency}}</td>
                            <td>&nbsp;</td>
                            <td>{{(retention.retTotalRetFormatted ? retention.retTotalRetFormatted : 0) |
                                currency}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </ng-container>

                    <ng-container
                        *ngFor="let draw of drawList | paginate: { currentPage: p, itemsPerPage: page};  let i=index">
                        <tr *ngIf="draw.status!='Draft'" class="text-center text-small">
                            <td (click)="editDrawItems(draw)">{{draw.application_number}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.through_date}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.status}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.totalOriginalScheduledValue | currency}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.changeOrderDrawItems | currency}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.totalScheduledValue | currency}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.previousDraw | currency}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.total_completion_percentage | number}}</td>
                            <td (click)="editDrawItems(draw)">{{draw.total_current_app | currency}}</td>
                            <td (click)="editDrawItems(draw)">{{(draw.total_current_retainer_value ?
                                draw.total_current_retainer_value : 0) |
                                currency}}
                            </td>
                            <td (click)="editDrawItems(draw)">{{(draw.totalPreviousRetainerValue ? draw.totalPreviousRetainerValue : 0) | currency}}
                            </td>
                            <td>
                                <a href="javascript:void()" class="cross-cancel">
                                    <span (click)="deleteDialogBox(deleteModel,draw,'draw')" *ngIf="i==0"
                                        class="px-2 entypo-cancel-circled"></span>
                                </a>
                            </td>
                        </tr>
                    </ng-container>

                    <ng-container *ngIf="drawList.length==0">
                        <tr (click)="editRetentionItems(retention)" *ngFor="let retention of retentionList"
                            class="text-center text-small">
                            <td>Ret {{retention.application_number}}</td>
                            <td>{{retention.through_date}}</td>
                            <td>{{retention.status}}</td>
                            <td>{{draw.totalOriginalScheduledValue | currency}}</td>
                            <td>{{retention.changeOrderDrawItems | currency}}</td>
                            <td>{{draw.totalScheduledValue | currency}}</td>
                            <td>{{retention.retentionBilledTodate | currency}}</td>
                            <td>&nbsp;</td>
                            <td>{{retention.total_current_app ? retention.total_current_app : 0 | currency}}</td>
                            <td>&nbsp;</td>
                            <td>{{retention.retTotalRetFormatted ? retention.retTotalRetFormatted : 0 |
                                currency}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        Showing {{p}} to {{page<=totalList ? (page) : totalList}} of {{totalList}} entries </div>
                            <div class="col-sm-6">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>