table tbody tr:hover {
    background-color: #3487C7 !important;
    color: #fff;
    cursor: pointer;
}

table thead tr:hover {
    background-color: #fff;
    color: #3487C7 !important;
}

table thead tr {
    background-color: #3487C7;
    color: #fff;
    font-size: smaller;
}
table tbody tr{
    font-size: smaller;
    cursor: pointer;
}
table tbody tr a:hover{
    color: #fff;
}
table tbody tr th,table tbody tr td
{
    border: 1px solid #666;
}

.cross-cancel {
    color: #000;
}

.cross-cancel:active {
    color: red;
}