.forpwdbtn{
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: #21abe1;
    background: -moz-linear-gradient(top, #21abe1 0%, #026dae 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #21abe1), color-stop(100%, #026dae));
    background: -webkit-linear-gradient(top, #21abe1 0%, #026dae 100%);
    background: -o-linear-gradient(top, #21abe1 0%, #026dae 100%);
    background: -ms-linear-gradient(top, #21abe1 0%, #026dae 100%);
    background: linear-gradient(to bottom, #21abe1 0%, #026dae 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21abe1', endColorstr='#026dae',GradientType=0 );
    color: white;
    cursor: hand;
    cursor: pointer;
    border: 1px solid #2985b4;
    padding: 5px 10px;
}

.captcha_content
{
    
        /* margin: auto; */
        width: 58%;
        /* border: 3px solid green; */
        padding: 0px;
        font-size: 23px;
        letter-spacing: 3px;
    
}