<div id="wrapper" class="">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">

        <tbody>
            <tr>
                <td align="left">
                    <table id="contentArea" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td id="" align="left">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left">
                                                    <div id="signup" class=" ">
                                                        <div class="signup-bg">
                                                            <div class="login-form-sec signup-page">
                                                                <div class="hgroup">
                                                                <!-- <hgroup> -->
                                                                    <h3 class="signup-success">Welcome to Fulcrum. We
                                                                        will send an email with login details shortly.
                                                                    </h3>
                                                                    <a style="text-decoration:none;" href="/">
                                                                        <input type="button" class="buttonui" href="/"
                                                                            style="width: auto;margin: 10% auto 23%;"
                                                                            value="Back to Home"></a>
                                                                <!-- </hgroup> -->

                                                            </div>
                                                                <div class="powered">
                                                                   
     <a href="/">©2017 MyFulcrum.com™</a>
     <a href="javascript:void(0)" (click)="login()">Login</a>
     <a href="javascript:void(0)" (click)="login()">Account</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>


        </tbody>
    </table>

</div>