
// @import url('https://fulcrumnew.optisolbusiness.com/assets/styles.css');
@import url('../../assets/styles.css');
.search-hero {
   // max-width: 500px;
    padding-bottom: 10px;
    margin:auto;
    float: right;
  }
  
 
  .form-control::placeholder  {
    font-family: FontAwesome;
  }
  .ui-widget .ui-widget {
    font-size: 1em;
  }
  .ui-widget-content {
    border: 1px solid #8b8e90;
    background: #ffffff url("../../assets/images/ui-bg_highlight-soft_100_ffffff_1x100.png") 50% top repeat-x;
    color: #333333;
  }
  .ui-widget-content a {
    color: #333333;
  }
  .ui-widget-header {
    border: 1px solid #8b8e90;
    /*background: #4e4f51 url("images/ui-bg_inset-hard_35_4e4f51_1x100.png") 50% 50% repeat-x;*/
    background: #3b90ce;
    color: #ffffff;
    font-weight: bold;
  }
  .ui-widget-header a {
    color: #ffffff;
  }
  .mat-dialog-container
  {
    width: 500px !important;
  }.ui-widget-header .ui-icon, .ui-state-default .ui-icon, .ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-state-active .ui-icon {
    background-image: url("../../assets/images/ui-icons_444444_256x240.png");
}
.ui-dialog-buttonset {
  float: right !important;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle {
  padding: .4em 1em !important;
  position: relative !important;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle{
  float: left !important;
  margin: .1em 0 !important;
  white-space: nowrap !important;
  width: 90% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.modal-body
{
  height:140px !important;
}.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}.ui-button.ui-corner-all.ui-widget {
  border: 1px solid #cccccc;
  /* background: #a3c74d url("images/ui-bg_inset-soft_35_a3c74d_1x100.png") 50% 50% repeat-x; */
  background: #aaa;
  font-weight: normal;
  color: #ffffff;
  background: #21abe1;
  background: -moz-linear-gradient(top, #21abe1 0%, #026dae 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #21abe1), color-stop(100%, #026dae));
  background: -webkit-linear-gradient(top, #21abe1 0%, #026dae 100%);
  background: -o-linear-gradient(top, #21abe1 0%, #026dae 100%);
  background: -ms-linear-gradient(top, #21abe1 0%, #026dae 100%);
  background: linear-gradient(to bottom, #21abe1 0%, #026dae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21abe1', endColorstr='#026dae',GradientType=0 );
  color: white;
  border: 1px solid #2985b4;
  padding: 5px 10px;
  border-radius: 5px;
}.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: .5em;
  padding: .3em 1em .5em .4em;
}.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
}.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}.ui-button .ui-button-text {
  display: block;
  line-height: normal;
}.ui-dialog .ui-dialog-title {
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}.ui-dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative;
}.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}  .moduleNavBox .openheader2 {
  background-color: #3b90ce !important;
  color: #fff;
  font-weight: bold;
  padding-right: 5px;
  text-align: left;
}