<div id="wrapper2" class="debugBorder forgotpaswdpage">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td id="header" align="right">
          <img
            alt=""
            src="assets/images/logos/axis-green-white-background.gif"
          />
        </td>
      </tr>

      <tr>
        <td height="35"></td>
      </tr>

      <tr>
        <td align="left">
          <table
            id="contentArea"
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%"
          >
            <tbody>
              <tr>
                <td style="width: 25px">
                  <img
                    id="verticalGradient"
                    height="250"
                    src="assets/images/gradients/green-single-column-boxes.gif"
                    width="25"
                  />
                </td>

                <td align="left" id="contentAreaRight2">
                  <table
                    align="left"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    width="100%"
                  >
                    <tbody>
                      <tr>
                        <td id="headline" height="45">Password Retrieval</td>
                      </tr>

                      <tr>
                        <td align="left">
                          <table
                            align="left"
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            width="100%"
                          >
                            <tbody>
                              <tr>
                                <td>
                                  <div
                                    id="messageDiv"
                                    class="userMessage"
                                  ></div>
                                  <div
                                    class="d-flex justify-content-center"
                                    *ngIf="loading"
                                  >
                                    <app-pageloader></app-pageloader>
                                  </div>
                                  <table
                                    align="left"
                                    border="0"
                                    cellpadding="0"
                                    cellspacing="0"
                                    width="100%"
                                  >
                                    <tbody>
                                      <tr>
                                        <td>
                                          <div class="forgotPasswordBody">
                                            If you have forgotten your Password,
                                            follow these steps:
                                            <ol type="i">
                                              <li>
                                                Enter your login email address
                                                below.
                                              </li>
                                              <li>
                                                Follow the instructions of the
                                                e-mail that you receive.
                                              </li>
                                            </ol>
                                          </div>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>
                                          <div class="invalid-feedback d-block">
                                            <div
                                              *ngIf="
                                                (submitted &&
                                                  f.first_element.errors) ||
                                                f.captcha_input.errors
                                              "
                                              class="messageQueueErrorBlockContainer"
                                            >
                                              <div
                                                *ngIf="
                                                  submitted &&
                                                  f.first_element.errors
                                                "
                                                class="messageQueueErrorHeader"
                                              >
                                                Please enter a valid email
                                                address.
                                              </div>
                                              <div
                                                *ngIf="
                                                  submitted &&
                                                  f.captcha_input.errors
                                                "
                                                class="messageQueueErrorText"
                                              >
                                                Please enter the visible
                                                characters below.
                                                <div
                                                  *ngIf="
                                                    f.captcha_input.errors
                                                      .mustMatch
                                                  "
                                                  class="messageQueueErrorText"
                                                >
                                                  The characters entered do not
                                                  match what was pictured.
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                          <div
                                            *ngIf="showemailexistserror"
                                            class="messageQueueErrorHeader"
                                          >
                                            Please enter a valid email address.
                                          </div>
                                          <form
                                            [formGroup]="frm_forgot_password"
                                            (ngSubmit)="onSubmit()"
                                          >
                                            <input
                                              type="hidden"
                                              formControlName="captcha_original"
                                              [(ngModel)]="capcha"
                                            />
                                            <table class="loginForm">
                                              <tbody>
                                                <tr>
                                                  <td
                                                    nowrap=""
                                                    align="left"
                                                    class="formInputLabel"
                                                  >
                                                    Login Email Address:
                                                  </td>
                                                  <td align="left">
                                                    <input
                                                      autofocus=""
                                                      (change)="
                                                        checkemailExists($event)
                                                      "
                                                      formControlName="first_element"
                                                      class="loginFormInput"
                                                      [ngClass]="{
                                                        'is-invalid':
                                                          submitted &&
                                                          f.first_element.errors
                                                      }"
                                                      maxlength="50"
                                                      name="auth_name"
                                                      size="33"
                                                      type="email"
                                                      value=""
                                                    />
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td
                                                    class="captcha"
                                                    align="center"
                                                    colspan="2"
                                                  >
                                                    <table>
                                                      <tbody>
                                                        <tr>
                                                          <td width="99%">
                                                            <pre>
            

                {{ capcha }} 
        </pre
                                                            >
                                                          </td>
                                                          <td width="1%">
                                                            <img
                                                              (click)="
                                                                refreshCaptcha()
                                                              "
                                                              src="assets/images/icons/reload-gray.png"
                                                            />
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td
                                                    nowrap=""
                                                    align="left"
                                                    class="formInputLabel"
                                                  >
                                                    Please input the above text:
                                                  </td>
                                                  <td align="left">
                                                    <input
                                                      class="loginFormInput"
                                                      maxlength="30"
                                                      formControlName="captcha_input"
                                                      [ngClass]="{
                                                        'is-invalid':
                                                          submitted &&
                                                          f.captcha_input.errors
                                                      }"
                                                      size="33"
                                                      type="text"
                                                    />
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td></td>
                                                  <td nowrap="" align="right">
                                                    <button
                                                      class="button formInputSubmit forpwdbtn"
                                                    >
                                                      Retrieve Password
                                                    </button>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </form>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody>
              <tr>
                <td colspan="2" nowrap="">
                  <div id="footer">
                    <a href="/">©2017 MyFulcrum.com™</a>
                    <a routerLink="/login-form">Login</a>
                    <a routerLink="/dashboard">Account</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
