
// @import url('https://fulcrumnew.optisolbusiness.com/assets/styles.css');
@import url("../../../assets/styles.css");
@import url("https://fulcrumnew.optisolbusiness.com/assets/styles.css");
@import url("https://fulcrumnew.optisolbusiness.com/assets/modules-file-manager-file-browser.css");
@import url("https://fulcrumnew.optisolbusiness.com/assets/rightclick-menu-entypo.css");
@import url("../../../assets/entypo.css");
@import url("../../../assets/fSelect.css");
@import url("../../../assets/css/jquery.signaturepad.css");
#contentAreaRight {
    margin: 0;
    padding: 0 15px 0 30px;
}
.display-container{
    display: block !important;
}
