<div class="w-100 float-left mb-3">
    <div class="col-sm-12 col-md-12 mt-2">
        <h2 class="title-text">{{ currentlySelectedProjectName }}: retentions</h2>
        <hr>
        <input type="button" (click)="historyBack()" value="Back To Draws">
    </div>
    <div class="col-sm-12 col-md-12 mt-2">
        <div class="table-responsive">
            <table class="table border-0 table-sm">
                <tr class="text-center">
                    <td>
                        Application Number
                    </td>
                    <td>
                        Through Date:
                    </td>
                    <td>
                        Invoice Date:
                    </td>
                    <td>
                        Retention Actions
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td colspan="4">
                        &nbsp;
                    </td>
                </tr>
                <tr class="text-center text-small" *ngIf="retentions">
                    <td>
                        {{retentions.application_number}}
                    </td>
                    <td>
                        <div class="datepicker_style_particulars">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                    [placeholder]="retentions.through_date" name="rfi_due_date" ngbDatepicker
                                    #d="ngbDatepicker" (click)="d.toggle()" />
                            </div>

                        </div>
                    </td>
                    <td>
                        <div class="datepicker_style_particulars">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                    [placeholder]="retentions.through_date" name="rfi_due_date" ngbDatepicker
                                    #d="ngbDatepicker" (click)="d.toggle()" />
                            </div>

                        </div>
                    </td>
                    <td *ngIf="actions">
                        <select (change)="changeOptions($event)" [(ngModel)]="actionId">
                            <option value="">Select Type</option>
                            <option *ngFor="let action of actions" value="{{action.id}}">
                                {{action.action_name}}
                            </option>
                        </select>
                    </td>
                    <td *ngIf="actionId=='' || actionId==1 || actionId==2">
                        <select>
                            <option>Select Option</option>
                            <option *ngFor="let option of actionOptions" value="{{option.id}}">
                                {{option.option_name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="" *ngIf="actionId==2 || actionId==4">
                            <option value="general_condition_summary">General Conditions Summary Only</option>
                            <option value="narrative_column">Narrative Column</option>
                            <option value="cost_code_alias">Cost Code Aliases</option>
                        </select>
                    </td>
                    <td>
                        <input type="button" value="Save as Draft"> OR
                    </td>
                    <td>
                        <input type="button" value="Post Retention Draw">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 mt-2">
        <div class="row">
            <div class="table-responsive col-sm-12 col-md-9 col-lg-9">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr class="text-center text-small">
                            <th>Cost Code</th>
                            <th>Cost Code Description</th>
                            <th>Scheduled Value</th>
                            <th>Current Ret. withheld</th>
                            <th>Previous Ret. Billed</th>
                            <th>Ret. Amount to Bill</th>
                            <th>Narrative</th> 
                        </tr>  
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of retentionItems; let i = index" class="text-center text-small">
                            <td>{{items.division_number}} - {{items.cost_code}}</td>
                            <td>{{items.cost_code_description}}</td>
                            <td>{{items.scheduled_retention_value | currency}}</td>
                            <td>{{items.current_retainage | currency}}</td>
                            <td>{{items.previous_retainage ? items.previous_retainage : 0 | currency}}</td>
                            <td>
                                <span *ngIf="retentions.status == 1">
                                    <input type="text" [className]="i==0 ? '' : 'disabled'" />
                                </span>
                                <span *ngIf="retentions.status != 1">
                                    {{items.current_retainer_value | currency}}
                                </span>
                            </td>
                            <td>
                                <span>
                                    <span *ngIf="retentions.status == 1">
                                        <textarea name="" class="form-control p-0" id=""></textarea>
                                    </span>
                                    <span *ngIf="retentions.status != 1">
                                        {{items.narrative}}
                                    </span>
                                </span>
                                
                            </td>
                        </tr>  
                    </tbody>
                    <tfoot>
                        <tr class="text-center text-small">
                            <td>&nbsp;</td>
                            <td class="text-strong">Total</td>
                            <td class="text-strong">{{totalSchedule | currency}}</td>
                            <td class="text-strong">{{totalCurrentRet | currency}}</td>
                            <td class="text-strong">{{totalPrevRet | currency}}</td>
                            <td class="text-strong">{{totalAmount | currency}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="table-responsive col-sm-12 col-md-3 col-lg-3">
                <h5 class="text-center text-small">RETENTION SIGNATURE BLOCKS</h5>
                <table class="table table-sm">
                    <tr class="text-small">
                        <th class="text-small">Include?</th>
                        <th class="text-small">Entity</th>
                        <th class="text-small">Name</th>
                    </tr>
                    <tr class="text-small">
                        <td><input class="d-block" type="checkbox"></td>
                        <td>Contractor:</td>
                        <td>Advent</td>
                    </tr>
                    <tr class="text-small">
                        <td><input class="d-block" type="checkbox"></td>
                        <td>Owner:</td>
                        <td></td>
                    </tr>
                    <tr class="text-small">
                        <td><input class="d-block" type="checkbox"></td>
                        <td>Customer:Project</td>
                        <td>
                            <select>
                                <option value="">Select QB</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="text-small">
                        <td><input class="d-block" type="checkbox"></td>
                        <td>Architect</td>
                        <td>
                            _Architects Inc.:arc test
                        </td>
                    </tr>
                    <tr class="text-small">
                        <td><input class="d-block" type="checkbox"></td>
                        <td>Construction Lender</td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr class="text-small">
                        <td><input class="d-block" type="checkbox"></td>
                        <td>Other</td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" value="Add">
                        </td>
                        <td colspan="2">
                            <button class="btn btn-sm px-2 py-0 btn-success">&nbsp;</button> <span class="text-small">Exists</span>
                            <button class="btn btn-sm px-2 py-0 btn-danger">&nbsp;</button> <span class="text-small">Not Exists</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    </div>
</div>