.table
{
    display: block;
    overflow: auto;
    width: 100%;
}
table tr th.text-small{
    font-size: smaller;
}

table thead tr {
    background-color: #3487C7;
    color: #fff;
    font-size: smaller;
}
table tbody tr{
    font-size: smaller;
    cursor: pointer;
}



table tbody tr a:hover{
    color: #fff;
}

.list-inline
{
 display: inline-flex;
 width: 100%;
}
.list-inline-new
{
    display: inline-flex;
    width: 100%;
    justify-content: end;
}

.list-inline li,.list-inline-new li{
    justify-content: space-between;
    font-size: smaller;
    padding: 1em;
}