<header class="cd-header">
	<div id="cd-logo">
		<a href="#"><img src="assets/homepage/img/cd-logo.gif" width="30%" alt="Logo"></a>
	</div>

	<nav class="cd-main-nav">
		<ul>
			<li><a (click)="register()">SIGN UP FOR FREE TRIAL</a></li>
			<li><a (click)="login()">Login</a></li>
		</ul>
	</nav> <!-- cd-main-nav -->
</header>
<main class="cd-main-content">
	<div class="cd-fixed-bg cd-bg-1">
		<h1>START BUILDING WITH FULCRUM TODAY</h1>
		<br />
		<div class="first-s-b-content">
			<div class="s-inner-box">
				<div class="left-box">
					<img src="assets/homepage/img/fulcrum-img.png" alt="">
				</div>
				<div class="right-box">
					<a href="#">
						<div class="r-inner-box-content">
							<span>Your Comprehensive and Cost Effective</span>
							<span>Solution to project Management</span>
							<span>Starts Here</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div> <!-- cd-fixed-bg -->

	<div class="cd-fixed-bg cd-bg-2">
		<h2></h2>
	</div> <!-- cd-fixed-bg -->

	<div class="cd-scrolling-bg bg-shadow cd-color-3">
		<div class="cd-container">
			<p>
				Fulcrum is the streamlined. Effecent approach to project management You've been wating for. Our
				intuative and innovative web based system was developed by a team of construction industry professionals
				to specifically address the needs of builders and developers. From conceptual drawings to daily
				reporting, You can manage projects with ease through one comprehensive online tool.
			</p>
			<br>
			<div id="toolIcons"><img src="assets/homepage/img/toolicons.png"  alt="icons"></div>
		</div> <!-- cd-container -->
	</div> <!-- cd-scrolling-bg -->

	<div class="cd-fixed-bg cd-bg-3">
		<h2></h2>
	</div> <!-- cd-fixed-bg -->

	<div class="cd-scrolling-bg bg-shadow cd-color-1">
		<div class="cd-container">
			<div class="fourth-container">
				<div class="left-box">
					<h1>Meetings Adjourned.</h1>
					<p>
						Conduct more efficient and productive meetings with online meeting minutes. Create discussion
						items, Assign Tasks, Track attendance and send out agenda and mintues to all team members.
					</p>
				</div>
				<div class="right-box">
					<img src="assets/homepage/img/right-icon.webp" width="100%" alt="">
				</div>
			</div>
		</div> <!-- cd-container -->
	</div> <!-- cd-scrolling-bg -->

	<div class="cd-fixed-bg cd-bg-4">
		<h2></h2>
	</div> <!-- cd-fixed-bg -->

	<div class="cd-scrolling-bg bg-shadow cd-color-2">
		<div class="cd-container">
			<div class="fourth-container">
				<div class="left-box">
					<img src="assets/homepage/img/right-icon-1.png" width="100%" alt="">
				</div>
				<div class="right-box">
					<h1>Drag. Drop.</h1>
					<h2>Done</h2>
				</div>
			</div>
			<br />
			<p>Upload, share, and track the distribution and sharing of plans and project related files. Upload all file
				types and view PDF's in the file manager window. Keep your project organized and your team updated with
				fulrum's file manager.</p>
		</div> <!-- cd-container -->
	</div> <!-- cd-scrolling-bg -->

	<div class="cd-fixed-bg cd-bg-5">
		<h2></h2>
	</div> <!-- cd-fixed-bg -->

	<div class="cd-scrolling-bg cd-color-6">
		<div class="cd-container">
			<div class="fourth-container">
				<div class="left-box">
					<img src="assets/homepage/img/right-icon-2.png" width="100%" alt="">
				</div>
				<div class="right-box">
					<h1>Rfi's on the fly.</h1>
					<p>
						upload, share, and track the distribution and sharing of plans and project related files. upload
						all files types and view pdf's in the file manager window. keep your project organized and your
						team updated with fulrum's file manager.
					</p>
				</div>
			</div>
		</div> <!-- cd-container -->
	</div> <!-- cd-scrolling-bg -->
	<div class="fbar">
		<span id="fsr">
			<a class="Fx4vi" routerLink="/mobile">Support</a>
			<a class="Fx4vi" routerLink="/privacy">Privacy</a>
		</span>
	</div>
</main>