
        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
           <tbody>
              <tr>
                 <td align="left">
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                       <tbody>
                          <tr>
                             <td>
                                <div id="softwareModuleHeadline">Delta Lane: Change Password</div>
                                <div class="messageQueueErrorBlockContainer">
                                 <div class="messageQueueErrorText">{{currentPasswordError}}</div>
                                 <div class="messageQueueErrorText">{{passwordError}}</div>
                                 <div class="messageQueueErrorText">{{confirmPasswordError}}</div>
                              </div>
                              <div class="messageQueueConfirmBlockContainer">
                                 <div class="messageQueueSuccess">{{successMessage}}</div>
                              </div>
                                <div *ngIf="isPasswordDiv" class="alignmentDiv">
                                 <input value="Click Here To Update Your Password Again" type="button" (click)="changePasswordDiv()">                                </div>
                                <div *ngIf="!isPasswordDiv">
                                <form novalidate [formGroup]="changePasswordForm">
                                   <table border="0" cellpadding="3" cellspacing="0" width="100%">
                                      <tbody>
                                         <tr>
                                            <td align="left">
                                               <div class="headerStyle">Note: passwords are stored in a secure, one-way encrypted format.</div>
                                               <table cellspacing="2" cellpadding="1" width="947" style="width: 947px;">
                                                  <tbody>
                                                     <tr>
                                                        <td nowrap="" align="left" width="30%">Enter your current password</td>
                                                        <td align="left" width="70%"><input id="first_element" tabindex="500" type="password" maxlength="30" size="33" name="currentpassword" formControlName="currentpassword" >&nbsp;(required for authentication)</td>
                                                     </tr>
                                                     <tr>
                                                        <td nowrap="" align="left" width="30%">Enter your new password</td>
                                                        <td align="left" width="70%"><input type="password" tabindex="501" maxlength="30" size="33" name="password" formControlName="password" ></td>
                                                     </tr>
                                                     <tr>
                                                        <td nowrap="" align="left" width="30%">Re-enter your new password</td>
                                                        <td align="left" width="70%"><input type="password" tabindex="502" maxlength="30" size="33" name="confirmpassword" formControlName="confirmpassword" >
                                                        </td>
                                                     </tr>
                                                     <tr>
                                                        <td nowrap="" align="right" width="30%" height="49"><input tabindex="504" class="button" (click)="resetPasswordForm()" type="button" value="Reset Form">&nbsp;&nbsp;</td>
                                                        <td align="left" width="70%" height="49"><input tabindex="503" class="button" type="button" (click)="changePassword()" value="Change Password" name="button">
                                                        </td>
                                                     </tr>
                                                  </tbody>
                                               </table>
                                            </td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </form>
                              </div>
                             </td>
                          </tr>
                       </tbody>
                    </table>
                 </td>
              </tr>
           </tbody>
        </table>
    
  