
@import url("../../assets/font-awesome.min.css");
.right-box img, .left-box img {

   width: 100%;
   
   }

 .first-s-b-content .s-inner-box .right-box .r-inner-box-content:after {bottom:0; color:#fff; content:"\f0da"; float:left; font-family:"FontAwesome"; font-size:172px; padding-right:15px; position:absolute; right:-91px; top:17px;}
