.active {
    color: #2572e4 !important;
}
.ulList a {
    color: #666;
    font-size: small;
}
.ulLista {
    display: block;
    padding:13px 24px;
}
a {
    text-decoration: none;
}
h2,h4,h3{
    font-size: 16px !important;
}